@import '../../../../variables.scss';

.wrapper {
    width: 160px;

    .name {
        background: $topColor;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
        font-size: 16px;
    }

    .box {
        margin: 2px 0;
        padding: 5px 10px;
        background: rgba(132, 132, 132, .8);
        color: #fff;

        .title {
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .value {
            font-size: 12px;
            color: #e8e8e8;
        }
    }
}