@import '../src/Reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #f0f0f0;
}
